
@{
    ViewBag.Title = "Update";
}

<div class="container">
    <br />
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kayıt Ol</li>
            </ol>
        </nav>
        <div class="col-md-8">
            <!--Makale Listesi-->
        <h3>Bilgiler Guncellendi..</h3>
        </div>
        <div class="col-md-4">
            <!--Kategori List-->
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Tüm Kategoriler
                </a>
                <a href="#" class="list-group-item list-group-item-action">.Net Framework</a>
                <a href="#" class="list-group-item list-group-item-action">Matlab</a>
                <a href="#" class="list-group-item list-group-item-action">ROS</a>
            </div>
            <br />
            <h6 style="color:darkblue">En Çok Okunan Makaleler</h6>

            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/Content/images/a1.png" class="img-fluid rounded-start" alt="..." width="90" height="90">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Başlık</h5>

                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="card-text"><small class="text-muted"><i class="bi bi-calendar"></i> Tarih <i class="bi bi-eye"></i> 10 Görüntülenme</small></>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/Content/images/a2.jpg" class="img-fluid rounded-start" alt="..." width="90" height="90">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Başlık</h5>

                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="card-text"><small class="text-muted"><i class="bi bi-calendar"></i> Tarih <i class="bi bi-eye"></i> 8 Görüntülenme</small></>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/Content/images/a3.jpeg" class="img-fluid rounded-start" alt="..." width="90" height="90">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Başlık</h5>

                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="card-text"><small class="text-muted"><i class="bi bi-calendar"></i> Tarih <i class="bi bi-eye"></i> 4 Görüntülenme</small></>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

